
#titulo1 {
    color: aliceblue;
    text-align: center;
    font-size: 80px;
}
h2 {
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}
.primeiro{
    color:blue
}
p{
    color: aliceblue;
    text-align: left;
    font-size: 40px;
}
    body {
   background-color: aquamarine;
    

}
.geopoli{
   left: 20%;
}
