
h1 {
    color: aliceblue;
    text-align: center;
    font-size: 80px;
}
p{
    color: aliceblue;
    text-align: left;
    font-size: 40px;
}
    body {
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}
.geopoli{
    display: block;
    margin: 0 outo;
}
