
#titulo1 {
    color: #940B92;
    text-align: center;
    font-size: 80px;
}
h2 {
    color: #E95793;
    text-align: center;
    font-size: 60px;
}
.primeiro{
    color:#DA0C81;
}
p{
    color: aliceblue;
    text-align: left;
    font-size: 40px;
}
    body {
   background-color: #610C9F;
    


}
#logo{
 padding-left: 40%;
 width: 25%;
}
