
h1 {
    color: aliceblue;
    text-align: center;
    font-size: 100px;
}
p{
    color: aliceblue;
    text-align: left;
}
    body {
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}
